---
http_interactions:
- request:
    method: get
    uri: https://api.bestbuy.com/v1/stores(area(80302,25))?apiKey=uf3hrj9pa5u2jxvqa3xfq5a5&format=json&pageSize=15&show=storeId,longName,city,distance,phone,storeType
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Mashery-Responder:
      - prod-j-worker-us-east-1d-113.mashery.com
    body:
      encoding: UTF-8
      string: |-
        {
          "from": 1,
          "to": 10,
          "total": 10,
          "currentPage": 1,
          "totalPages": 1,
          "queryTime": "0.011",
          "totalTime": "0.027",
          "partial": false,
          "canonicalUrl": "/v1/stores(area(\"80302\",25))?show=storeId,longName,city,distance,phone,storeType&format=json&apiKey=uf3hrj9pa5u2jxvqa3xfq5a5",
          "stores": [
            {
              "storeId": 1031,
              "longName": "Best Buy - Boulder",
              "city": "Boulder",
              "distance": 6.59,
              "phone": "303-938-2889",
              "storeType": "BigBox"
            },
            {
              "storeId": 2953,
              "longName": "Best Buy Mobile - Flatiron Crossing Mall ",
              "city": "Broomfield",
              "distance": 14.83,
              "phone": "303-466-8624",
              "storeType": "Mobile"
            },
            {
              "storeId": 1079,
              "longName": "Best Buy - Longmont",
              "city": "Longmont",
              "distance": 16.51,
              "phone": "303-485-5939",
[...]
